.body{
  padding:0%;
  margin:0%;
  border:0px;
  box-sizing: border-box;
}
.Logo{
  margin-left: 10px;
  width: 210px;
  height: 100px;

}
.Search{
  width: 500px;
  margin-top: 30px;
}
button.ant-btn.css-dev-only-do-not-override-36gkoj.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid.ant-btn-lg.ant-input-search-button {
  margin-top: 0px
}
.collapse1:where(.css-dev-only-do-not-override-ut69n1).ant-collapse>.ant-collapse-item >.ant-collapse-header {
   
    color: #a0d911;
    font-weight:800;
    font-size: 22px;
    
}
.collapse2:where(.css-dev-only-do-not-override-ut69n1).ant-collapse>.ant-collapse-item >.ant-collapse-header {
   
    color: #a0d911;
    font-weight:800;
    font-size: 22px;
    
   
}
.collapse3:where(.css-dev-only-do-not-override-ut69n1).ant-collapse>.ant-collapse-item >.ant-collapse-header {
    color: #a0d911;
    font-weight:800;
    font-size: 22px;
   
   
}

.Icon{
 margin-top: 30px;
 font-size: 30px;
 color: #0077C8;
 font-weight: bolder;
 /* padding-right: 35px; */
}

.scrolling-wrapper {
  margin-top: 100px;
  display: flex;
  width: 100%;
  /* height: 100%; */
  overflow: hidden;
  position: relative;
  padding: 0px 0px;
  background-color: darkgreen;
}
:where(.css-dev-only-do-not-override-36gkoj).ant-card .ant-card-body {
    /* padding: 24px; */
    padding: 0px;
    border-radius: 0 0 8px 8px;
}
.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-weight: 700;
  font-size: 1.3em;
  padding: 0px 0px;
  text-shadow: 3px 3px 5px black;
  animation: scroll-left 25s linear reverse infinite;
}

.deal {
  margin-right: 300px;
  height: "50px";
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.my_text {
  font-size: 17px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  height: 100px;
  font-weight: 600;
}
.imgstyle {
  position: relative;
  width: 100px;
  height: 100px;
  float: left;
}
.footer{
  display:inline-flex;
  font-size: 25px;
  font-weight: 600;
  list-style: 50px;
}

.tower_title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.tower_title:hover{
  color:orange
}
.tower_price{
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: red;

}
